body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, .card-body>h5 {
font-family: "Lobster", cursive;
}

h2 {
  color: #ffffff;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-image: linear-gradient(#CEC8FF, white);
  padding: 20px 0;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #B0F3F1, #FFCFDF,#81258d);
  color: white;
}

.jumbotron h2 {
  color: #CEC8FF;
}

.navbar-dark {
  background-color: grey;
}

.nav-link {
  color: black;
}

img {
  width: 100%;
  height: auto;
}

.img-h1 {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
}